* {
    margin: 0%;
    font-family: 'Saira', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

.header-aria {
    background: #f9f9ff;
}

.container {
    display: flex;
}

.banner-left {
    width: 60%;
    padding: 20px 80px;
    margin-top: 160px;
}


.banner-left h5 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}

.banner-left h2 {
    font-size: 60px;
    color: skyblue;
}

.banner-right {
    width: 50%;
}

.banner-left p {
    margin-bottom: 30px;
}

.banner-left .btn {
    text-decoration: none;
    padding: 10px 30px;
    background: skyblue;
    cursor: pointer;
    color: #f9f9ff;
    transition: all 0.5s;

}